/* General Styles
   ========================================================================== */ 
   html, body{
    height: 100%;
  }

  .background-color{
    background-image: url("https://images.pexels.com/photos/372796/pexels-photo-372796.jpeg?cs=srgb&dl=factory-machine-metal-372796.jpg&fm=jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 100%;

}

#black{
  color:black;
}
  

/* ========================================================================== */ 


/* Font Styles
========================================================================== */ 

/* ========================================================================== */ 




/* Image Styles
========================================================================== */ 


/* ========================================================================== */ 


/* Footer Styles
========================================================================== */ 

/* ========================================================================== */ 




